<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716856690801-s4v5itjq2mrfmhclk07gjcvb9pn4ke8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716856690801-s4v5itjq2mrfmhclk07gjcvb9pn4ke8k</string>
	<key>API_KEY</key>
	<string>AIzaSyAgCCUxcV95kvojIZK2Xsy38uF9Swt83xY</string>
	<key>GCM_SENDER_ID</key>
	<string>716856690801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>py.com.nextgen.Aruba</string>
	<key>PROJECT_ID</key>
	<string>aruba-b1b33</string>
	<key>STORAGE_BUCKET</key>
	<string>aruba-b1b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716856690801:ios:36de91226ac2de87</string>
	<key>DATABASE_URL</key>
	<string>https://aruba-b1b33.firebaseio.com</string>
</dict>
</plist>